{% extends 'books/base.html' %}
{% load static %}
{% block content %}
<div class="bg-dark py-5">
    <div class="container">

        <div class="row align-items-center no-gutters">
            <div class="col-xl-5 col-lg-6 col-md-12">
                <div class="py-5 py-lg-0">
                    <h1 class="text-white display-4 fw-bold">Merhaba Kitaplığa Hoş Geldin
                    </h1>
                    <p class="text-white-50 mb-4 lead">
                        Kitaplarınızı ekleyin, düzenleyin ve takip edin.
                    </p>
                    <a href="{% url 'book-list' %}" class="btn btn-success">Kitapları Gör</a>
                    <a href="{% url 'book-create' %}" class="btn btn-light">Kitap Ekle </a>
                </div>
            </div>

        </div>
    </div>
</div>

{% endblock %}